###### // 아래 코드는 변수 X에 10을 넣는 코드입니다.
// 변수(변하는 수)는 Let를 사용하고
// 상수(변하지 않는 수)는 const를 사용한다
// 위 키워드는 "선언할 때"에만 사용

let x = 10
const y = 100
x = 100
// y = 200 // error 상수는 변경할 수 없다

In [4]:
// var라는 키워드도 자주 봤는데요!?
// var는 이제는 거의 쓰지 않습니다.
// 전역변수 선언할 때 사용하는데 var를 사용했을 때 문제가 많기 때문에
// let과 const가 나온겁니다!

var x = 10
var y = 20

x

10

In [6]:
// 앞서 python 에서는 print를 사용했지만
// javascript에서는 console.log()를 사용합니다.

let age = 30; // 나이 변수
let name = 'Jun'; // 이름 변수
console.log(age, name); // 결과 값은 30 Jun입니다.

30 Jun

In [7]:
// python의 f-string
// 앞서 python 에서는 f'{변수} 문자!'을 사용했지만
// JavaScriptd의 Template literals
// javascript에서는 `${변수} 문자!`의 형태로 사용합니다.

let age = 30; // 나이 변수
let name = 'Jun'; // 이름 변수
console.log(`나이는 ${age} 이고, 이름은 ${name}이야!`);

나이는 30 이고, 이름은 Jun이야!

In [9]:
// JavaScript는 뒤에 세미콜론을 붙여야 한다.
// 다만 붙이지 않아도 세미콜론이 자옹으로 붙는다!
// 다만 세미콜론을 붙이지 않았을 경우 의도치 않은 에러가 발생할 수도 있다
// 보통은 붙여주는 것이 관례이지만, 회사마다 이를 자동으로 해주는 SW가 있다.
// 다만 우리 수업은 python이 주 언어이고, 
// 혼란을 주지 않기 위해 교육때만 세미콜론을 생략한다.

In [10]:
/*
이 코드는 사용자의 나이와 이름을 저장합니다.
변수 age는 사용자의 나이를 저장하고,
변수 name은 사용자의 이름을 저장합니다.
*/
let age = 30
let name = 'Jun'

age

30

In [11]:
// var와  let과 const에 간단한 차이
// {}를 벗어나지 못한다
if(true){
    let xx = 100
    const xxx = 100
}
xx

ReferenceError: xx is not defined

In [13]:
// var와  let과 const에 간단한 차이
// {}를 벗어날 수 있다 (견고하지는 않다)
if(true){
    var xx = 100
}
xx

100

In [15]:
// 타입을 확인하기 위해 typeof 연산자를 사용할 수 있습니다
let num = 1234
let str = 'jeju'
console.log(typeof num) // 'number'
console.log(typeof str) // 'string'
console.log(typeof(num))
console.log(typeof(str))

number
string
number
string

In [21]:
// 배열은 typeof로 정확한 타입을 알아낼 수가 없다!
let a = [1234] // array
let b = {'one': 100, 'two': 200} // object, map
console.log(typeof a) // 'object'
console.log(typeof b) // 'object'
console.log(typeof null) // 'object', javascript를 설계하신 분이 잘못되었다 인정함
// 이처럼 깔끔하진 않다

object
object
object

In [24]:
// javascrtipt에서는 typeof 실행 위해서 함수를 설정해야한다
function typeCheck(value) {
    const return_value = Object.prototype.toString.call(value);
    const type = return_value.substring(
        return_value.indexOf(" ") + 1,
        return_value.indexOf("]")
    );
    return type.toLowerCase();
}

let a = [1, 2, 3] // array
let b = {'one': 100, 'two': 200} // object
let c = null

console.log(typeCheck(a))
console.log(typeCheck(b))
console.log(typeCheck(c))

array
object
null

In [25]:
let age = 25; // Number 타입
let name = 'licat'; // String 타입
let isStudent = true; // Boolean 타입
let value; // undefined 타입 (값이 할당되지 않음)
let emptyValue = null; // null 타입 (의도적으로 값이 없음)

In [26]:
let person = {
  name: 'Bob',
  age: 30,
}; // Object 타입
let numbers = [1, 2, 3, 4, 5]; // Array 타입
function greet() {
  console.log('Hello, world!');
} // Function 타입

typeCheck(greet)

'function'

In [40]:
// 문자열의 메서드

// 1. indexOf
let text = 'weniv ceo leehojun hello world hello world'
console.log(text.indexOf('hello')) // 첫번째 만나는 hello를 찾습니다!

// 2. replace
// javascript는 python과 달리 정규표현식을 import와 같은 문법 없이 기본 메서드에서 사용 가능합니다.
console.log('제껴라 제껴라 제껴라 huh!'.replace('제껴라', 'check it out'))
console.log('제껴라 제껴라 제껴라 huh!'.replace(/제껴라/g, 'check it out'))
console.log('010-1234-1234'.replace(/[0-9]/g, '!'))
console.log('010-1234-1234'.replace(/[^0-9]/g, '!'))
console.log('010-1234-1234'.replace(/[^0-9]/g, ''))

// 3. slice
// 'hello world'[2:7]
// javascript에서는 위와 같은 슬라이싱 문법이 안됩니다. 그래서 .slice라는 메서드를 사용해야 합니다.
'hello world'.slice(2, 7)


// 4. split
'hello world hello world'.split(' ')
'hello world hello world'.split('e')

// 5. toLowerCase, toUpperCase
console.log("What's the name? Black mamba".toLowerCase());
console.log('Watch me while I make it out'.toUpperCase());

// 6. trim
console.log('         abc  '.trim());

19
check it out 제껴라 제껴라 huh!
check it out check it out check it out huh!
!!!-!!!!-!!!!
010!1234!1234
010!1234!1234
what's the name? black mamba
WATCH ME WHILE I MAKE IT OUT
abc

In [42]:
// 증감 연산자

let x = 10
x += 10
x

20

In [43]:
let x = 10
x++
x

11

In [46]:
let x = 10
++x
x

11

In [47]:
// 파이썬과 다르게 1씩 증가 또는 감소를 시켜주는 코드가 있습니다.
// 둘 중에 아무거나 사용하셔도 출력하는 곳만 아니면 문제가 발생하지 않습니다.
let num = 3;
console.log(`증감연산 : ${++num}`); // 4 (num을 먼저 증가시키고 출력)
console.log(`증감연산 : ${num++}`); // 4 (출력 후 num을 증가시킴, 결과적으로 num은 5)
console.log(`증감연산 : ${--num}`); // 4 (num을 먼저 감소시키고 출력)
console.log(`증감연산 : ${num--}`); // 4 (출력 후 num을 감소시킴, 결과적으로 num은 3)

증감연산 : 4
증감연산 : 4
증감연산 : 4
증감연산 : 4

In [49]:
let x = 3
let y = 10

x > y
// python하고 전부 동일하지만 아래 2개가 다르다
x == y
x === y

false

In [52]:
let x = 3
let y = '3'

x == y // python에는 False이지만, javascript에서는 true입니다!
x === y // 우리가 원하는 값, python 에서 등호 == 인 값, 타입을 봅니다!
// 무엇을 많이 사용하나요?
// javascript에서는 ===를 많이 사용합니다.

false

In [53]:
Infinity > 10 // 파이썬에서는 float('inf') 였다

true

In [55]:
'숫자가 아님' / 2 
// python에서는 error! 하지만 JS에서는 NaN이라는 것을 반환!

NaN

In [59]:
let a = 12345678901234567890
a + 1 // ?? 왜 이상한 숫자가 나오는가? 특정 숫자 이상은 처리불가
// 대부분의 언어가 언어마다 정의하고 있는 숫자가 넘어가면 처리를 못하게 되어있다.
// 이전에는 그래서 큰 숫자는 문자로 처리했다.

let b = 12345678901234567890n // 뒤에 n을 붙인다
b + 1n

12345678901234567891n

In [61]:
+'10'

10

In [64]:
// 위의 연산은 안전하지 않은 연산입니다!
parseInt('19')
parseInt('12hello')

12

In [68]:
parseFloat('10.1')

10.1

In [70]:
// 이런 문법은 사용하지 마세요.
~~10.1

10

In [73]:
let a = 10
let b = [1, 2, 3]
let c = {'hello':'world'}
a.toString()
b.toString() // Python하는 사람들은 여기서부터 마음이 힘들다
c.toString() // Python하는 사람들은 여기서부터 마음이 힘들다

// js를 하시는 분들은 python처럼 string으로 변환하고 싶을 때,  
// JSON이라는 객채 사용 내장되어 있다!
JSON.stringify(a)
JSON.stringify(b)
JSON.stringify(c)

'{"hello":"world"}'

In [81]:
Math.PI
Math.max(1, 2, 3, 4, 5, 6)
// Math.max(...[1, 2, 3, 4, 5, 6]) // 앞에 ...붙여야 가능

6

In [76]:
// JavaScript는 카멜 표기법을 선호한다 oneTwoThree
// python은 대부분 소문자고, 스네이크 표기법을 선호한다. one_two_three

In [83]:
// and(&&)는 곱
// or(||) 는 합
// true       1
// false      0
true && false

false

In [86]:
// 함수

function f(a, b){
    return a + b 
}
f(10, 20)

30

In [87]:
function f(a=2, b=3){
    return a**2 + b**3
}
f(b=2, a=3) // javascript는 아규먼트의 순서를 파라미터의 순서로 바꿔주지X
// 이렇게 되면, 중간에 아규먼트 넣는 순서 틀리면 완전히 잘못된 결과
// 그래서 실수가 아주 많았다
// 그래서 roro기법이라는 기법이 나오게 됨

31

In [89]:
// 전혀 몰라도 된다
// Python은 이런 문제가 발생하지 X
function f(obj){
    return obj['a']**2 + obj['b']**3
}
f({'b':2, 'a':3})

17

In [122]:
function f(){
    return 
}

console.log(f()) // undefined는 출력되지 X

In [91]:
// 화살표 함수
function s(a, b){
    return a + b
}
let ss = (a, b) => a + b
ss(10, 20)

30

In [123]:
let a;
console.log(a) // undefined는 출력되지 X

In [98]:
// 배열
let arr = [10, 20, 30,40]
arr.length

4

In [112]:
let arr = [10, 20, 30, 40]

// 1.push (python의 append)
arr.push(50)
arr

// 2.pop
arr.pop()
arr

// 3. shift 앞에것을 빼낼 때 (python에서는 pop(0))
arr.shift()
arr

// 4. unshift // python에서 insert(0, 값)으로 사용
arr.unshift(1000)
arr

[ 1000, 20, 30, 40 ]

In [113]:
// 5. sort
let s = [1, 11, 23, 43, 21, 28, 11, 111, 2111]
s.sort()
// js는 기본sort가 사전식 정렬이다.

[ 1, 11, 11, 111, 21, 2111, 23, 28, 43 ]

In [1]:
let s = [1, 11, 23, 43, 21, 28, 11, 111, 2111]
s.sort((a, b)=> a - b) // 오름차순
s.sort((a, b)=> b - a) // 내림차순

[ 2111, 111, 43, 28, 23, 21, 11, 11, 1 ]

In [5]:
// 6. forEach() // 많이 쓴다! 기억하시길
//const 배열 = ['a', 'b', 'c']
//배열.forEach(요소마다_실행시킬_함수)
const arr = [10, 20, 30, 40, 50]
function f(value, index) {
    console.log(value, index)
}
arr.forEach(f) // 이 f자리를 '콜백펑션'이라고 한다

10 0
20 1
30 2
40 3
50 4

In [8]:
// 화살표 함수로 더 많이 사용한다!
// forEach는 return하는 값을 사용하진 않는다
// return이 없을 때 js에서는 undefined라고 한다.
const arr = [10, 20, 30, 40, 50]

arr.forEach((v, i)=>{
    console.log(v)
    console.log(i)
    console.log('-----')
})

10
0
-----
20
1
-----
30
2
-----
40
3
-----
50
4
-----

In [9]:
const arr = [10, 20, 30, 40, 50]

function f(v, i){
    console.log(v)
    console.log(i)
    console.log('------')
}

arr.forEach(f)

10
0
------
20
1
------
30
2
------
40
3
------
50
4
------

In [10]:
// 7. map 
// forEach와 형태가 같다.
// js에서 매우 중요함
// python에서의 map은 새로운 List를 생성하거나, 데이터를 추출하는 용도로 사용!
// js에서의 map도 동일한 기능을 하지만, 데이터를 추출하는 용도로 더 많이 사용한다.

In [14]:
arr = [10, 20, 30, 40]

function f(v, i){
    return 10
}

arr.map(f)

[ 10, 10, 10, 10 ]

In [15]:
arr = [10, 20, 30, 40]

function f(v, i){
    return v**2
}

arr.map(f)

[ 100, 400, 900, 1600 ]

In [16]:
// forEach는 return이 있고
// map은 return이 있다.

// forEach는 각각의 순회에 return값이 아무 기능을 하지 않는다.
// map은 return 값으로 새로운 배열을 만든다!

In [17]:
// 이 코드와

arr = [10, 20, 30, 40]

arr.map((v, i) => {
    return v**2
})

[ 100, 400, 900, 1600 ]

In [18]:
// 이 코드는 같은 코드입니다.

arr = [10, 20, 30, 40]

arr.map((v, i) => v**2)

[ 100, 400, 900, 1600 ]

In [19]:
// 아래와 같이 데이터를 추출하는 용도로 더 많이 사용된다.

const data = [
  {
    _id: '642ba3980785cecff3f39a8d',
    index: 0,
    age: 28,
    eyeColor: 'green',
    name: 'Annette Middleton',
    gender: 'female',
    company: 'KINETICA',
  },
  {
    _id: '642ba398d0fed6e17f2f50c9',
    index: 1,
    age: 37,
    eyeColor: 'green',
    name: 'Kidd Roman',
    gender: 'male',
    company: 'AUSTECH',
  },
  {
    _id: '642ba39827d809511d00dd8d',
    index: 2,
    age: 39,
    eyeColor: 'brown',
    name: 'Best Ratliff',
    gender: 'male',
    company: 'PRISMATIC',
  },
];

// const ages = data.map(item => item.age);
const ages = data.map((item) => item['age']);
console.log(ages);

28,37,39

In [22]:
const data = [
  {
    _id: '642ba3980785cecff3f39a8d',
    index: 0,
    age: 28,
    eyeColor: 'green',
    name: 'Annette Middleton',
    gender: 'female',
    company: 'KINETICA',
  },
  {
    _id: '642ba398d0fed6e17f2f50c9',
    index: 1,
    age: 37,
    eyeColor: 'green',
    name: 'Kidd Roman',
    gender: 'male',
    company: 'AUSTECH',
  },
  {
    _id: '642ba39827d809511d00dd8d',
    index: 2,
    age: 39,
    eyeColor: 'brown',
    name: 'Best Ratliff',
    gender: 'male',
    company: 'PRISMATIC',
  },
];

// const ages = data.map(item => item.age);
const ages =[] 
data.forEach((item) => {
    ages.push(item['age'])
})
ages

[ 28, 37, 39 ]

In [23]:
// in은 js에서는 완전히 다른 의미로 사용이 된다.

In [25]:
// 8. includes
//배열에 특정 요소가 포함되어 있는지를 확인
const arr =[10, 20, 30]
arr.includes(20)

const arr2 = ['hello', 'world']
arr2.includes('hello')

true

In [26]:
// python 방식: '!'.join(arr)
// js 방식 arr.join('!')
// 9. join
//배열의 모든 요소를 연결하여 하나의 문자열로 만듭니다
const arr = ['hello', 'world']
arr.join('!!')

'hello!!world'

In [28]:
// 파이썬의 딕셔너리 형태 => 자바스크립트의 오브젝트 형태
// 다만 파이썬의 딕셔너리는 매우 다양한 메서드를 가지고 있다.
// 그런데 자바스크립트의 오브젝트는 할 수 있는 것이 별로 없다.

const obj = {'one': 'hello', 'two': 'world'}
obj

{ one: 'hello', two: 'world' }

In [29]:
const obj = {
    one: 'hello', 
    two: 'world'
}
obj

{ one: 'hello', two: 'world' }

In [31]:
// 오브젝트를 만나면 하고 싶은 것?
// 1. 인덱싱
const obj = {
    one: 'hello',
    two: 'wolrd'
}
obj['one']
// 2. items
// 3.

'hello'

In [35]:
// key만 추출
const obj = {
    one: 'hello',
    two: 'wolrd'
}

// python에서는 obj.keys()
// 그런데 자바스크립트에서는 이게 안된다!!

Object.keys(obj)
Object.values(obj)
Object.entries(obj)

// 왜 이렇게 불편하게 써야 하는가?
// 설계가 잘못된 것이다

[ [ 'one', 'hello' ], [ 'two', 'wolrd' ] ]

In [40]:
typeof [10, 20, 30] // js 에서는 리스트라 부르지X => arr (어레이)라고 부른다
typeof null
typeof {'hello':'world'}

'object'

In [41]:
// Map
// Set

In [42]:
// 조건문
// if-else문
if (false){
    console.log('hello')
} else if(true) {
    console.log('world')
} else if(false) {
    console.log('!')
} else {
    console.log('!!')
}

world

In [44]:
// switch문
switch ('one'){
    case 'one':
        console.log('one')
        break
    case 'two':
        console.log('two')
        break
    case 'three':
        console.log('three')
        break
    case 'four':
        console.log('four')
        break
}

one

In [45]:
switch ('one'){
    case 'one':
        console.log('one') 
    case 'two':
        console.log('two')
    case 'three':
        console.log('three')
    case 'four':
        console.log('four')   
}

one
two
three
four

In [46]:
switch ('two'){
    case 'one':
        console.log('one')
        break
    case 'two':
    case 'three':
        console.log('three')
        break
    case 'four':
        console.log('four')
        break
}

three

In [47]:
`new Date().getDay()`

'new Date().getDay()'

In [48]:
console.log(new Date().getDay()); // 요일은 숫자로 표현됩니다.

switch (new Date().getDay()) {
  case 1:
    console.log('월요일입니다.');
    break;
  case 2:
    console.log('화요일입니다.');
    break;
  case 3:
    console.log('수요일입니다.');
    break;
  case 4:
    console.log('목요일입니다.');
    break;
  case 5:
    console.log('금요일입니다.');
    break;
  default:
    console.log('주말입니다.');
    break;
}

1
월요일입니다.

In [51]:
// 반복문

for(let i = 0; i < 10; ++i){
    console.log(i)
}

0
1
2
3
4
5
6
7
8
9

In [52]:
const arr = [10, 20, 30, 40]

for(let i = 0; i < arr.length; ++i){
    console.log(arr[i])
}
// 너무 힘들다!
// 그래서 생긴 문법이 for of문 이다!

10
20
30
40

In [54]:
// for of문
const arr = [10, 20, 30, 40]

for (let i of arr){
    console.log(i)
}

10
20
30
40

In [57]:
const arr = [10, 20, 30, 40]

for (let i in arr){
    console.log(i)
}
// 다르다!

0
1
2
3

In [64]:
const obj = {
    one: 'hello',
    two: 'world'
}

for (let i of obj){
    console.log(i)
}

TypeError: obj is not iterable

In [65]:
const obj = {
    one: 'hello',
    two: 'world'
}

for (let i in obj){
    console.log(i)
}

one
two

In [67]:
const obj = {
    one: 'hello',
    two: 'world'
}

// 보통 for문 안에서는 let을 사용한다.
for (const i in obj){
    console.log(i)
}

one
two

In [68]:
// 문제
// 1. 1부터 10까지 짝수를 더해주세요
// 2. 1부터 10까지 출력하는데, 4까지 출력하고 5에서 멈출 수 있도록 해주세요.(break 사용)
// 3. switch 구문을 사용해서 '월', '화'..을 입력받은 다음 평일과 주말로 출력 해주세요
// 4. [2, 4, 5, 3, 6, 5, 4, 1]에서 짝수만 더해주세요.

In [82]:
// 문제 1 (모르겠다)
// 1부터 10까지 짝수를 더해주세요
let result = 0
for (let i = 0; i<11; i+=2){
    result +=i
}
console.log(result)

30

In [86]:
// 문제 2 (모르겠다 22)
// 1부터 10까지 출력하는데, 4까지 출력하고 5에서 멈출 수 있도록 해주세요.(break 사용)

let i = 1;
while (i <= 10){
    if(i === 5) {
        break
    }
    console.log(i)
    i++
}

1
2
3
4

In [93]:
// 문제 3
// switch 구문을 사용해서 '월', '화'..을 입력받은 다음 평일과 주말로 출력 해주세요
let 요일 = '토'
switch (요일){
    case '월':
    case '화':
    case '수':
    case '목':
    case '금':
        console.log('평일');
        break
    case '토':
    case '주일':
        console.log('주말')
        break
    default:
        console.log('요일을 입력해라이')
        break
}

주말

In [100]:
// 문제 4
// [2, 4, 5, 3, 6, 5, 4, 1]에서 짝수만 더해주세요.

// 기본방식
let s = [2, 4, 5, 3, 6, 5, 4, 1]
let result = 0
for (let i of s){
    if(i % 2 === 0){
        result += i
    }
}
console.log(result)

// 실무 방식
s.filter(v => !(v % 2)) // 이 코드는 어렵습니다.
s.filter(v => v % 2 === 0)
// 아쉽게도 js에는 sum이라고 하는 함수가 없다
s.filter(v => v % 2 === 0).reduce((a, c) => a + c, 0)

16

16

In [101]:
let s = [2, 4, 5, 3, 6, 5, 4, 1]
s.reduce((a, c) => a + c, 0) // 0이 없으면 감점이다!

30

In [102]:
let s = []
s.reduce((a, c) => a + c, 0) // 0이 없으면 감점입니다!

0

In [104]:
for (let i = 0; i < 10; i++){
    if (i === 3){
        continue
    }
    console.log(i)
}

0
1
2
4
5
6
7
8
9

In [109]:
// 전개 구문
// [] 안에서 ...(점 3개) 이용하여 배열 확장
Math.max(1, 2, 3, 100, 5 ,6 ,7)
Math.max([1, 2, 3, 100, 5 ,6 ,7])
Math.max(...[1, 2, 3, 100, 5 ,6 ,7])

100

In [111]:
let a = [10, 20, 30]
let b = [40, 50, 60]
let c = [...a, ...b]
c

[ 10, 20, 30, 40, 50, 60 ]

In [113]:
let a = [10, 20, 30]
let b = [40, 50, 60]
let c = [a, b]
c

[ [ 10, 20, 30 ], [ 40, 50, 60 ] ]

In [114]:
// this는 '나 자신을 호출한 객체'라고 암기를 하고 예외 경우를 암기하는게 좋다.

In [116]:
console.log(this) // console에서는 전역 객체를 나타내는 window가 출력

[object DedicatedWorkerGlobalScope]

In [118]:
const obj = {
  name: 'licat',
  f: function () {
    console.log(this);
  },
};
 
obj.f(); // obj

[object Object]

In [123]:
function Person(name) {
  this.name = name;
  console.log(this);
}

const value = Person('test'); 
// Window 객체를 출력하고 undefined를 반환

const person1 = new Person('licat'); // new라는 키워드는 함수 마지막에 return this를 한다
// Person { name: "licat" }
const person2 = new Person('mura'); 
// Person { name: "mura" }

//new가 하는 일
// 1. 새로운 빈 객체{}를 만든다
// 2. this가 그 새 객체를 가리키게 한다
// 3. 함수를 실행한다(this.name = name 실행)
// 4. ***함수에 return문이 없어도 자동으로 그객체를 반환한다***

// new없이 호출:
// this = Window객체
// 반환값 = undefined(return문이 없으므로)
// value에는 undefined가 저장됨

// new와 함께 호출:
// this = 새로 만든 객체
// 반환값 = 그 새 객체(new가 자동으로 반환해줌)
// person1, person2에는 실제 Person객체가 저장됨

[object DedicatedWorkerGlobalScope]
[object Object]
[object Object]

In [126]:
// 파이썬에서는 아래와 같이 Book을 찍어낼 수 있습니다!
// class Book:
//     def __init__(self, title, author, pages):
//         self.title = title
//         self.author = author
//         self.pages = pages

//     def __str__(self):
//         return f"{self.title} by {self.author}"

// book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 180)
// book2 = Book("Pages", "HojunLee", 200)

// print(book1)

In [132]:
// python에서의 class 느낌쓰
function Book(name, author, pages){
    this.name = name
    this.author = author
    this.pages = pages
    // return this
}

book1 = new Book("The Great Gatsby", "F. Scott Fitzgerald", 180)
book2 = new Book("Pages", "HojunLee", 200)

book1.name
book1.author
book1.pages

180

In [133]:
// for in: key로 순회
// for of: value로 순회, object가 순회가 되지 않는다

In [154]:
// for in은 익스플로러도 되기 때문에 부담없이 사용할 수 있습니다.
const a = [10, 20, 30, 40]
// const a = {
//     0: 10,
//     1: 20,
//     2: 30,
//     3: 40
// }
const b = {
    one: 'hello',
    two: 'world'
}

for (let i in a){
    console.log(i)
}

for (let i in b){
    console.log(i)
}

0
1
2
3
one
two

In [139]:
// for of는 익스플로러가 지원하지 않기 때문에,
// 민원이 발생할 수 있다.
const a = [10, 20, 30, 40]
const b = {
    one: 'hello',
    two: 'world'
}

// 이 코드도 익스플로러에서 전혀 작동하지 않는다.
for (let i of a){
    console.log(i)
}

for (let i of b){
    console.log(i)
} // not iterable (순회가 되지 않는다)

10
20
30
40

TypeError: b is not iterable

In [158]:
// Map 키-값 쌍을 저장할 수 있는 구조
let m = new Map();

m.set('하나', '1');
m.set(1, '하나');
m.set(true, 1);
m.set(false, 0);

m = [...m] // 위니북스에서만 이렇게 사용

console.log(m);

하나,1,1,하나,true,1,false,0

In [165]:
let m = new Map();

m.set('하나', '1');
m.set('둘', '2');
m.set('셋', '3');

m.size
m.keys()
m.values()
m.entries()

Iterator [Map Iterator] {}

In [167]:
let m = new Map();

m.set('하나', '1');
m.set('둘', '2');
m.set('셋', '3');

for (let [a, b] of m.entries()){
    console.log(a)
    console.log(b)
}

하나
1
둘
2
셋
3

In [168]:
let m = new Map();

m.set('하나', '1');
m.set('둘', '2');
m.set('셋', '3');

m.get('하나')

'1'

In [171]:
let m = new Map();

m.set('하나', '1');
m.set('둘', '2');
m.set('셋', '3');

console.log(m.delete('하나')); // true
console.log(m.has('하나')); // false

[...m.keys()]

true
false

[ '둘', '셋' ]

In [172]:
let m = new Map();

m.set('하나', '1');
m.set('둘', '2');
m.set('셋', '3');

console.log(m.delete('하나')); // true
console.log(m.has('하나')); // false

[...m.keys()]

true
false

[ '둘', '셋' ]

In [174]:
let obj = { hi: 1, hi2: 2, hi3: 3, hi4: 4 };
obj.length // undefined라 출력 X

In [ ]:
// 1. Map은 keys, values, entries가 모두 메서드로 있다!
// 2. has도 바로 체크 가능하다
// 3. 길이도 object는 length가 없지만, Map은 size가 있어서 길이를 바로 알 수 있다.

In [176]:
// Set

let s = new Set()
s.add(1)
s.add(1)
s.add(1)
s.add(2)
s.add(2)
s.add(3)
s.add(3)
s.add(3)

s

Set (3) {1, 2, 3}

In [181]:
let s = new Set('abcdeeeeeeeee');
s = [...s]; // 위니북스에서만 이렇게 사용
console.log(s);
console.log(s.size);

a,b,c,d,e

In [180]:
let s = new Set('abcdeeeeeeeee');
s
// console.log(s.size);

Set (5) {'a', 'b', 'c', 'd', 'e'}

In [184]:
let setA = new Set(['apple', 'banana', 'orange']);
let setB = new Set(['banana', 'kiwi', 'orange']);

// 교집합
let intersection = new Set([...setA].filter(x => setB.has(x)));
intersection

// 합집합
let union = new Set([...setA, ...setB]);
union

// 차집합
let difference = new Set([...setA].filter(x => !setB.has(x)));
difference

Set (1) {'apple'}

In [185]:
// Map에서 아래 것만 기억해주세요.
// get, set, size
// .keys(), .values(), .entries()

In [189]:
// a = [1, 2, 3]
// b = [1, 2, 3]
// a == b
// pyhon은 True인데? => 값만 보기 때문이다

const a = [1, 2, 3]
const b = [1, 2, 3]

a == b // false <= a와 b가 메모리 주소가 다르다!

false

In [193]:
const a = [1, 2, 3]
const b = [1, 2, 3]

JSON.stringify(a)
JSON.stringify(b)
JSON.stringify(a) == JSON.stringify(b)

true

In [ ]:
// JSON !== JavaScript object
// JSON이 좀 더 엄격하다.
// key값에 쌍따음표 붙인다.
// ** 앞에는 붙이고, 뒤에는 한 칸 띄어쓰기
// {"key": "value"}

In [197]:
const json = '[1, 2, [1, 2, 3]]'; // 이렇게 다른 언어에서 string으로 받으면
const obj = JSON.parse(json); // 내부에서 사용할 수 있는 객체로 변환
console.log(obj);
obj

1,2,1,2,3

[ 1, 2, [ 1, 2, 3 ] ]

In [199]:
const a = [1, 2, 3]
const b = {
    one: 'hello',
    two: 'world'
}
JSON.stringify(a) // 외부로 데이터 전송할 때에는 이렇게 문자열로 변환해 전송
JSON.stringify(b) // 외부로 데이터 전송할 때에는 이렇게 문자열로 변환해 전송

'{"one":"hello","two":"world"}'

In [211]:
// 이 코드를 암기하시면 실무에서 자주 사용하는 패텅 3개를 한번에 익힐 수 있다
// 정답 코드를 손으로도 여러번 써보길 권한다 (펜으로)
const data = [
  {
    "_id": "998e1c16-6a80-4cb5-Cfaa-95e5b9f8cd0d",
    "index": "1",
    "name": "원윤슬",
    "email": "user-qn97dcg@Curabitur.biz",
    "phone": "010-9963-0904",
    "country": "마카오",
    "address": "양평로 94-5",
    "age": "36",
    "job": "식품공학기술자"
  },
  {
    "_id": "8c93c034-a1e5-4ce0-C974-c6544801aa20",
    "index": "2",
    "name": "난시원",
    "email": "user-bh7qncs@Eget.com",
    "phone": "010-3095-1880",
    "country": "키리바시",
    "address": "양재로 75-6",
    "age": "47",
    "job": "생물공학연구원"
  },
  {
    "_id": "36da5180-a858-4203-Aee9-e5a30ecdaaef",
    "index": "3",
    "name": "도태림",
    "email": "user-7qmj5al@Quisque.co.kr",
    "phone": "010-5681-9837",
    "country": "르완다",
    "address": "강변북로 35-8",
    "age": "49",
    "job": "회계사"
  },
  {
    "_id": "752fb846-86ec-46e7-C38a-06e5eed26a5f",
    "index": "4",
    "name": "갈영현",
    "email": "user-txs2nnu@Molestie.co.kr",
    "phone": "010-3581-4638",
    "country": "마셜 제도",
    "address": "용산로 56-1",
    "age": "40",
    "job": "방송연출가"
  },
  {
    "_id": "09ff1f9e-7887-4fef-B4c6-a85c576ad261",
    "index": "5",
    "name": "팽지호",
    "email": "user-hai4w0q@Donec.org",
    "phone": "010-5765-4652",
    "country": "세인트헬레나",
    "address": "노량진로 24-2",
    "age": "33",
    "job": "생물공학연구원"
  }
]
// 35살 이상이신 분들의 평균 
const len = data.length
const filteringdata = data.filter(v => parseInt(v['age']) >= 35)
const ages = filteringdata.map(v => parseInt(v['age']))
const sum = ages.reduce((a, c) => a + c, 0)
sum / len

34.4

In [212]:
// 전부 array 메서드 이다!
// filter
// reduce
// map

In [217]:
[10, 20, 30, 40].reduce((a, c)=>{
    console.log(a)
    console.log(c)
    console.log('------')
    return a + c
})

10
20
------
30
30
------
60
40
------

100

In [214]:
[10, 20, 30, 40].reduce((a, c)=>{
    console.log(a)
    console.log(c)
    console.log('------')
    return 100
})

10
20
------
100
30
------
100
40
------

100

In [219]:
[1, 2, 3, 4, 5].filter(x => x >= 3)

[ 3, 4, 5 ]

In [221]:
function f(x) {
    return x >= 3
}

[1, 2, 3, 4, 5].filter(f) // filter는 true가 만족되는 것만 출력한다

[ 3, 4, 5 ]

In [223]:
// map은 새로운 array를 만든다
[1, 2, 3, 4, 5].map(x => x >= 3) // 데이터 추출로 더 많이 사용된다.

[ false, false, true, true, true ]

In [243]:
// # Array 메서드 실무 연습 문제 10개

// ## 문제 1: 숫자 배열 필터링
// `[1, 5, 10, 15, 20, 25, 30]`에서 15 이상인 수만 추출하세요.
const data1 = [1, 5, 10, 15, 20, 25, 30]
data1.filter(x => x >= 15)

// ## 문제 2: 문자열 배열 변환
// `['apple', 'banana', 'cherry']`를 모두 대문자로 변환하세요.
const data2 = ['apple', 'banana', 'cherry']
data2.map(x => x.toUpperCase())

// ## 문제 3: 숫자 합계
// `[100, 200, 300, 400, 500]`의 총합을 구하세요.
const data3 = [100, 200, 300, 400, 500]
data3.reduce((a, c) => a + c, 0)

// ## 문제 4: 이름 배열에서 특정 길이
// `['김철수', '이영희', '박민수진', '최지']`에서 3글자인 이름만 찾으세요.
const data4 = ['김철수', '이영희', '박민수진', '최지']
data4.filter(x => x.length === 3)

// ## 문제 5: 점수 평균 계산
// `[85, 92, 78, 96, 88]` 점수들의 평균을 구하세요.
const data5 = [85, 92, 78, 96, 88]
const len = data5.length
data5.reduce((a, c) => a + c, 0) / len

// ## 문제 6: 제품 데이터 처리
// const products = [
//   { name: '노트북', price: 1000000, category: '전자제품' },
//   { name: '마우스', price: 30000, category: '전자제품' },
//   { name: '책상', price: 200000, category: '가구' }
// ];
// 전자제품 카테고리의 제품명만 추출하세요. (추출은 다 map이다)
const data6 = [ { name: '노트북', price: 1000000, category: '전자제품' },
  { name: '마우스', price: 30000, category: '전자제품' },
  { name: '책상', price: 200000, category: '가구' }
              ];
data6.map(v => v['name'])


// ## 문제 7: 짝수/홀수 확인
// `[2, 4, 6, 8, 10]` 배열이 모두 짝수인지 확인하세요.
const data7 = [2, 4, 6, 8, 10]
data7.filter(v => v % 2 === 0).length === data7.length
// data7.every(v => v % 2 === 0)

// ## 문제 8: 최대값 찾기
// `[45, 23, 89, 12, 67, 34]`에서 가장 큰 수를 찾으세요.
Math.max(...[45, 23, 89, 12, 67, 34])

const numbers = [45, 23, 89, 12, 67, 34];
const result = numbers.reduce((max, num) => num > max ? num : max); // 굳이??

// ## 문제 9: 단어 길이 변환
// `['자바스크립트', '리액트', '뷰', '앵귤러']`를 각 단어의 글자 수로 변환하세요.
const data8 = ['자바스크립트', '리액트', '뷰', '앵귤러']
data8.map(v => v.length)

// ## 문제 10: 조건부 합계
// `[10, -5, 20, -15, 30, -8]`에서 양수만 골라서 합계를 구하세요.
const data9 = [10, -5, 20, -15, 30, -8]
data9.filter(x => x > 0).reduce((a, c) => a + c, 0)

60

In [236]:
10 > 5 ? 'hello' : 'world'

'hello'

In [237]:
const value = 10 > 5 ? 'hello' : 'world'
value

'hello'

In [249]:
// 저주의 숫자 3 문제 (과제s)
// https://school.programmers.co.kr/learn/courses/30/lessons/120871

function solution(n) {
    for (let i =1 ; i<=n ; i++){
        if (i%3===0 || String(i).includes('3'))  n +=1        
    }
    return n;
}
// 라고는 하는데 진짜 모르겠다

4

In [245]:
Array(10).fill(1)
Array(10).fill(1).map((v, i) => v + i)

[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

In [6]:
// 첫번째 방식 (강사님 방식)
// 배열을 만들어 놓고 시작하는 방식
Array(100)
    .fill(1)
    .map((v, i) => v + i)
    .filter(x => x % 3 !== 0)
    .filter(x => !x.toString().split('').includes('3'))

[ 1, 2, 4, 5, 7, 8, 10, 11, 14, 16, 17, 19, 20, 22, 25, 26, 28, 29, 40, 41, 44, 46, 47, 49, 50, 52, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 74, 76, 77, 79, 80, 82, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100 ]

In [ ]:
// /3/.test(33)
// /3/.test(123)
/3/.test(12)

In [8]:
Array(100)
    .fill(1)
    .map((v, i) => v + i)
    .filter(x => x % 3 !== 0)
    .filter(x => !/3/.test(x))

[ 1, 2, 4, 5, 7, 8, 10, 11, 14, 16, 17, 19, 20, 22, 25, 26, 28, 29, 40, 41, 44, 46, 47, 49, 50, 52, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 74, 76, 77, 79, 80, 82, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100 ]

In [9]:
Array(100)
    .fill(1)
    .map((v, i) => v + i)
    .filter(x => x % 3 !== 0)
    .filter(x => !/3/.test(x))[14]

25

In [7]:
// 두번째 방식
// 배열을 만들어 놓지 않고, 실시간으로 연산해 나가면서 풀이하는 방식

In [13]:
function solution(n){
    let count3x = 0
    while (n > 0) {
        count3x++
        if (count3x.toString().includes('3')){
            continue
        }
        if (count3x % 3 == 0) {
            continue
        }
        n--
    }
    return count3x
}

solution(15)

25

In [23]:
// 강사님이 조금 더 고민하신다는 문제
let n = 15
let count3x = 0
for (let i = 0; i < n + 1; i++) {
    count3x++
    while (count3x.toString().includes('3')){
        count3x++
    }
    while (count3x % 3 === 0) {
        count3x++
    }
    console.log(count3x)
}

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
25

In [24]:
// 파이썬에서는 아래와 같이 Book을 찍어낼 수 있습니다!
// class Book:
//     def __init__(self, title, author, pages):
//         self.title = title
//         self.author = author
//         self.pages = pages

//     def __str__(self):
//         return f"{self.title} by {self.author}"

// book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 180)
// book2 = Book("Pages", "HojunLee", 200)

// print(book1)

class Book {
    constructor(name, author, pages){
        this.name = name
        this.author = author
        this.pages = pages
    }

    introduce(){
        return `이 책의 이름은 ${this.name}이고 이 책의 저는 ${this.author}입니다.`
    }
}

book1 = new Book("The Great Gatsby", "F. Scott Fitzgerald", 180)
book2 = new Book("Pages", "HojunLee", 200)
book1.introduce()

'이 책의 이름은 The Great Gatsby이고 이 책의 저는 F. Scott Fitzgerald입니다.'

In [27]:
class Animal {
    constructor(name){
        this.name = name
    }

    say(){
        return `내 이름은 ${this.name}이야`
    }
    tell(){
        return `애옹`
    }
}

class Dog extends Animal {
    constructor(name){
        super(name) // 부모의 constructor 호출 => super
    }
}

class Cat extends Animal {
    constructor(name){
        super(name)
    }
}

개 = new Dog("흰둥이")
고양이 = new Cat("냐옹이")

개.say()
고양이.tell()

'애옹'

In [28]:
class Robot {
  #password;

  constructor(name, pw) {
    this.name = name;
    this.#password = pw;
  }

  sayYourName() {
    console.log(`삐리비리. 제 이름은 ${this.name}입니다. 주인님.`);
  }

  get password() {
    console.log('get password 호출')
    return this.#password;
  }

  set password(pw) {
    console.log('set password 호출')
    this.#password = pw;
  }
}

// get과 set사용
const bot = new Robot('재현', 1234);

console.log(bot.password); // 1234
bot.password = 5678;
console.log(bot.password); // 5678

get password 호출
1234
set password 호출
get password 호출
5678