In [5]:
// 아래 코드는 변수 X에 10을 넣는 코드입니다.
// 변수(변하는 수)는 Let를 사용하고
// 상수(변하지 않는 수)는 const를 사용한다
// 위 키워드는 "선언할 때"에만 사용

let x = 10
const y = 100
x = 100
// y = 200 // error 상수는 변경할 수 없다

100

In [4]:
// var라는 키워드도 자주 봤는데요!?
// var는 이제는 거의 쓰지 않습니다.
// 전역변수 선언할 때 사용하는데 var를 사용했을 때 문제가 많기 때문에
// let과 const가 나온겁니다!

var x = 10
var y = 20

x

10

In [6]:
// 앞서 python 에서는 print를 사용했지만
// javascript에서는 console.log()를 사용합니다.

let age = 30; // 나이 변수
let name = 'Jun'; // 이름 변수
console.log(age, name); // 결과 값은 30 Jun입니다.

30 Jun

In [7]:
// python의 f-string
// 앞서 python 에서는 f'{변수} 문자!'을 사용했지만
// JavaScriptd의 Template literals
// javascript에서는 `${변수} 문자!`의 형태로 사용합니다.

let age = 30; // 나이 변수
let name = 'Jun'; // 이름 변수
console.log(`나이는 ${age} 이고, 이름은 ${name}이야!`);

나이는 30 이고, 이름은 Jun이야!

In [9]:
// JavaScript는 뒤에 세미콜론을 붙여야 한다.
// 다만 붙이지 않아도 세미콜론이 자옹으로 붙는다!
// 다만 세미콜론을 붙이지 않았을 경우 의도치 않은 에러가 발생할 수도 있다
// 보통은 붙여주는 것이 관례이지만, 회사마다 이를 자동으로 해주는 SW가 있다.
// 다만 우리 수업은 python이 주 언어이고, 
// 혼란을 주지 않기 위해 교육때만 세미콜론을 생략한다.

In [10]:
/*
이 코드는 사용자의 나이와 이름을 저장합니다.
변수 age는 사용자의 나이를 저장하고,
변수 name은 사용자의 이름을 저장합니다.
*/
let age = 30
let name = 'Jun'

age

30

In [ ]:
// var와  let과 const에 간단한 차이
// {}(블럭)을 벗어나지 못한다
if(true){
    let xx = 100
    const xxx = 100
}
xx

ReferenceError: xx is not defined

In [ ]:
// var와  let과 const에 간단한 차이
// {}(블럭)을 벗어날 수 있다 (견고하지는 않다)
if(true){
    var xx = 100
}
xx

100

In [15]:
// 타입을 확인하기 위해 typeof 연산자를 사용할 수 있습니다
let num = 1234
let str = 'jeju'
console.log(typeof num) // 'number'
console.log(typeof str) // 'string'
console.log(typeof(num))
console.log(typeof(str))

number
string
number
string

In [21]:
// 배열은 typeof로 정확한 타입을 알아낼 수가 없다!
let a = [1234] // array
let b = {'one': 100, 'two': 200} // object, map
console.log(typeof a) // 'object'
console.log(typeof b) // 'object'
console.log(typeof null) // 'object', javascript를 설계하신 분이 잘못되었다 인정함
// 이처럼 깔끔하진 않다

object
object
object

In [24]:
// javascrtipt에서는 typeof 실행 위해서 함수를 설정해야한다
function typeCheck(value) {
    const return_value = Object.prototype.toString.call(value);
    const type = return_value.substring(
        return_value.indexOf(" ") + 1,
        return_value.indexOf("]")
    );
    return type.toLowerCase();
}

let a = [1, 2, 3] // array
let b = {'one': 100, 'two': 200} // object
let c = null

console.log(typeCheck(a))
console.log(typeCheck(b))
console.log(typeCheck(c))

array
object
null

In [25]:
let age = 25; // Number 타입
let name = 'licat'; // String 타입
let isStudent = true; // Boolean 타입
let value; // undefined 타입 (값이 할당되지 않음)
let emptyValue = null; // null 타입 (의도적으로 값이 없음)

In [26]:
let person = {
  name: 'Bob',
  age: 30,
}; // Object 타입
let numbers = [1, 2, 3, 4, 5]; // Array 타입
function greet() {
  console.log('Hello, world!');
} // Function 타입

typeCheck(greet)

'function'

In [40]:
// 문자열의 메서드

// 1. indexOf
let text = 'weniv ceo leehojun hello world hello world'
console.log(text.indexOf('hello')) // 첫번째 만나는 hello를 찾습니다!

// 2. replace
// javascript는 python과 달리 정규표현식을 import와 같은 문법 없이 기본 메서드에서 사용 가능합니다.
console.log('제껴라 제껴라 제껴라 huh!'.replace('제껴라', 'check it out'))
console.log('제껴라 제껴라 제껴라 huh!'.replace(/제껴라/g, 'check it out'))
console.log('010-1234-1234'.replace(/[0-9]/g, '!'))
console.log('010-1234-1234'.replace(/[^0-9]/g, '!'))
console.log('010-1234-1234'.replace(/[^0-9]/g, ''))

// 3. slice
// 'hello world'[2:7]
// javascript에서는 위와 같은 슬라이싱 문법이 안됩니다. 그래서 .slice라는 메서드를 사용해야 합니다.
'hello world'.slice(2, 7)


// 4. split
'hello world hello world'.split(' ')
'hello world hello world'.split('e')

// 5. toLowerCase, toUpperCase
console.log("What's the name? Black mamba".toLowerCase());
console.log('Watch me while I make it out'.toUpperCase());

// 6. trim
console.log('         abc  '.trim());

19
check it out 제껴라 제껴라 huh!
check it out check it out check it out huh!
!!!-!!!!-!!!!
010!1234!1234
010!1234!1234
what's the name? black mamba
WATCH ME WHILE I MAKE IT OUT
abc

In [42]:
// 증감 연산자

let x = 10
x += 10
x

20

In [43]:
let x = 10
x++
x

11

In [46]:
let x = 10
++x
x

11

In [47]:
// 파이썬과 다르게 1씩 증가 또는 감소를 시켜주는 코드가 있습니다.
// 둘 중에 아무거나 사용하셔도 출력하는 곳만 아니면 문제가 발생하지 않습니다.
let num = 3;
console.log(`증감연산 : ${++num}`); // 4 (num을 먼저 증가시키고 출력)
console.log(`증감연산 : ${num++}`); // 4 (출력 후 num을 증가시킴, 결과적으로 num은 5)
console.log(`증감연산 : ${--num}`); // 4 (num을 먼저 감소시키고 출력)
console.log(`증감연산 : ${num--}`); // 4 (출력 후 num을 감소시킴, 결과적으로 num은 3)

증감연산 : 4
증감연산 : 4
증감연산 : 4
증감연산 : 4

In [49]:
let x = 3
let y = 10

x > y
// python하고 전부 동일하지만 아래 2개가 다르다
x == y
x === y

false

In [52]:
let x = 3
let y = '3'

x == y // python에는 False이지만, javascript에서는 true입니다!
x === y // 우리가 원하는 값, python 에서 등호 == 인 값, 타입을 봅니다!
// 무엇을 많이 사용하나요?
// javascript에서는 ===를 많이 사용합니다.

false

In [53]:
Infinity > 10 // 파이썬에서는 float('inf') 였다

true

In [55]:
'숫자가 아님' / 2 
// python에서는 error! 하지만 JS에서는 NaN이라는 것을 반환!

NaN

In [59]:
let a = 12345678901234567890
a + 1 // ?? 왜 이상한 숫자가 나오는가? 특정 숫자 이상은 처리불가
// 대부분의 언어가 언어마다 정의하고 있는 숫자가 넘어가면 처리를 못하게 되어있다.
// 이전에는 그래서 큰 숫자는 문자로 처리했다.

let b = 12345678901234567890n // 뒤에 n을 붙인다
b + 1n

12345678901234567891n

In [61]:
+'10'

10

In [64]:
// 위의 연산은 안전하지 않은 연산입니다!
parseInt('19')
parseInt('12hello')

12

In [68]:
parseFloat('10.1')

10.1

In [70]:
// 이런 문법은 사용하지 마세요.
~~10.1

10

In [73]:
let a = 10
let b = [1, 2, 3]
let c = {'hello':'world'}
a.toString()
b.toString() // Python하는 사람들은 여기서부터 마음이 힘들다
c.toString() // Python하는 사람들은 여기서부터 마음이 힘들다

// js를 하시는 분들은 python처럼 string으로 변환하고 싶을 때,  
// JSON이라는 객채 사용 내장되어 있다!
JSON.stringify(a)
JSON.stringify(b)
JSON.stringify(c)

'{"hello":"world"}'

In [81]:
Math.PI
Math.max(1, 2, 3, 4, 5, 6)
// Math.max(...[1, 2, 3, 4, 5, 6]) // 앞에 ...붙여야 가능

6

In [76]:
// JavaScript는 카멜 표기법을 선호한다 oneTwoThree
// python은 대부분 소문자고, 스네이크 표기법을 선호한다. one_two_three

In [83]:
// and(&&)는 곱
// or(||) 는 합
// true       1
// false      0
true && false

false

In [86]:
// 함수

function f(a, b){
    return a + b 
}
f(10, 20)

30

In [87]:
function f(a=2, b=3){
    return a**2 + b**3
}
f(b=2, a=3) // javascript는 아규먼트의 순서를 파라미터의 순서로 바꿔주지X
// 이렇게 되면, 중간에 아규먼트 넣는 순서 틀리면 완전히 잘못된 결과
// 그래서 실수가 아주 많았다
// 그래서 roro기법이라는 기법이 나오게 됨

31

In [89]:
// 전혀 몰라도 된다
// Python은 이런 문제가 발생하지 X
function f(obj){
    return obj['a']**2 + obj['b']**3
}
f({'b':2, 'a':3})

17

In [122]:
function f(){
    return 
}

console.log(f()) // undefined는 출력되지 X

In [91]:
// 화살표 함수
function s(a, b){
    return a + b
}
let ss = (a, b) => a + b
ss(10, 20)

30

In [123]:
let a;
console.log(a) // undefined는 출력되지 X

In [98]:
// 배열
let arr = [10, 20, 30,40]
arr.length

4

In [112]:
let arr = [10, 20, 30, 40]

// 1.push (python의 append)
arr.push(50)
arr

// 2.pop
arr.pop()
arr

// 3. shift 앞에것을 빼낼 때 (python에서는 pop(0))
arr.shift()
arr

// 4. unshift // python에서 insert(0, 값)으로 사용
arr.unshift(1000)
arr

[ 1000, 20, 30, 40 ]

In [113]:
let s = [1, 11, 23, 43, 21, 28, 11, 111, 2111]
s.sort()
// js는 기본sort가 사전식 정렬이다.

[ 1, 11, 11, 111, 21, 2111, 23, 28, 43 ]

In [120]:
let s = [1, 11, 23, 43, 21, 28, 11, 111, 2111]
s.sort((a, b)=> a - b) // 오름차순
s.sort((a, b)=> b - a) // 내림차순

[ 2111, 111, 43, 28, 23, 21, 11, 11, 1 ]